<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>778911791770-eu3q47eg01mj1vin3ugainca2koesm23.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.778911791770-eu3q47eg01mj1vin3ugainca2koesm23</string>
	<key>API_KEY</key>
	<string>AIzaSyDK4M6QWIVWfKZr5kLUhcRgTOGAWiLaTzQ</string>
	<key>GCM_SENDER_ID</key>
	<string>778911791770</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.MyFirstChat</string>
	<key>PROJECT_ID</key>
	<string>myfirstchat-8ea14</string>
	<key>STORAGE_BUCKET</key>
	<string>myfirstchat-8ea14.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:778911791770:ios:51f515bc4d364deabf7d23</string>
</dict>
</plist>